* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: black;
    color: #ffffff;
}

canvas {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    border: #666 solid 3px;
    transform: translateX(-50%);
}

.opening {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10000;
    overflow: hidden;
    transition: all 0.5s;
}

.opening > * {
    left: 50%;
    transform: translateX(-50%);
}

.opening p {
    font-size: 640px;
    position: absolute;
    top: -300px;
    cursor: default;
}

.opening a {
    position: absolute;
    bottom: -90px;
    font-size: 15em;
    font-weight: 700;
    transition: bottom 0.5s;
    white-space: nowrap;
    cursor: pointer;
}

.opening a:hover {
    bottom: -45px;
}