.opening .en {
    display: none;
}

.opening .zh {
    position: absolute;
    top: -2vh;
    right: 55%;
    width: 20vh;
    font-size: 20vh;
    font-weight: 700;
    line-height: 20vh;
    word-wrap: break-word;
    color: #696969;
}

.opening a {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 20vh;
    font-size: 20vh;
    font-weight: 700;
    line-height: 20vh;
    transform: translate(-50%, 50%);
    transition: all 0.5s;
    white-space: normal;
    word-wrap: break-word;
    cursor: pointer;
}

.opening a:hover {
    bottom: 50%;
}

.main {

}